/*
---Alexsandria Ryan
---Exercise #8
---Submitted: February 17, 2022
---Grade received: 100%

---Assignment description:
1.	In the BrightSpace dropbox for today’s activity, you have been provided with a ZIP file 
containing some file resources for a web page:
a.	An HTML page called lawncare.html
b.	A CSS file called styles.css.
c.	Images called grass_seamless_pattern.jpg, mowercycle.jpeg, and weeding_success.jpeg.

2.	Add a CSS page to the website called layout_styles.css and properly link it into the 
HTML page. Do NOT delete the existing styles.css file or remove its link from the HTML.

3.	You will make the following additions to the new layout_styles.css page:
a.	Set the charset of the CSS file to “UTF-8” appropriately.
b.	Align the headings in the center of the page.
c.	Make sure all images in all articles are floated to the left this time.
d.	Align the footer text in the center as well.
e.	For the section tag:
	-Make sure it displays as a grid with 3 rows and 2 columns.
	-Make sure the first row is 100 pixels in size and the other two are set to auto size.
	-Make sure the first column is 3/5 of the width of the screen and the second column is 2/5.
f.	For the h2 tag in section:
	-Make sure that it goes in the first row only.
	-Make sure that it is in both the first and second columns.
g.	For the article with an ID of mowing:
	-Make sure that it goes in the second row only.
	-Make sure that it is in the first column only.
h.	For the article with an ID of weeding:
	-Make sure that it goes in the second row only.
	-Make sure that it is in the second column only.
i.	For the article with an ID of landscaping:
	-Make sure that it goes in the third row only.
	-Make sure that it is in both the first and second columns.
j.	Back on the section tag:
	-Give the grid a gap between the columns of 2 percent.
	-Give the grid a gap between the rows of 50 pixels.
*/

@charset "UTF-8";

/* Styles for Acme Lawn Care */
body {
	background-image: url('grass_seamless_pattern.jpg');
	font: 22px Verdana, Georgia, sans-serif;
}

header {
	margin-top: 0;
	font-size: 30px;
}

h1,h2 {
	color: white;
}

h2 {
	text-transform: uppercase;
}

article {
	/* Progressive enhancement */
	background-color: white;
	background-color: rgba(255,255,255,0.7);
	
	/* Progressive enhancement */
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	
	padding: 2%;
	overflow: auto;
}

article h3 {
	font-size: 25px;
	margin-top: 0;
}

footer {
	border-top: 3px solid white;
	color: white;
}